@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container" style="padding:0;">
    <img src="~/images/tdf.jpg" class="img-fluid img-rounded" style="position:relative;" />
    <div class="caption text-right text-justify text-muted">
        <h1 class="display-3">TRAINING FREEKS</h1>
    </div>

</div>

<script>
</script>